/* Reset some default styles in browsers */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Add margin below h2 tags */
h2 {
    margin-bottom: 0.4em;
}

/* Apply background color to body */
body {
    background-color: #F4F1DE;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #3B1C0B;
    padding: 20px;
    text-align: center;
    color: white;
}

.logo-container {
    display: inline-block;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

/* Section styles */
section {
    padding: 40px 20px;
    text-align: center;
}

.welcome {
    background-color: #C08552;
    color: white;
}

.shop .coffee-list {
    list-style: none;
}

.about-us {
    background-color: #C08552;
    color: white;
}

/* Footer styles */
footer {
    background-color: #3B1C0B;
    padding: 20px;
    text-align: center;
    color: white;
}
